.cr-box{
    width: 100%;
    display: flex;
}
.carousel ,.slide{
    width: 69%;
    /* border: 1px solid green; */
}
.carousel-indicators{
    margin: 0px;
    width: 150%;
    height: 40%;
    bottom: -46%;
    justify-content: space-between;
    overflow: scroll;
}
.carousel-indicators [data-bs-target] {
    height: 75%;
    width: 100%;
    text-indent: 0px;
}
.demo-cr{
    height: 100%;
    width: auto;
}




.cr-desc{
    width: 28%;
    /* border: 1px solid red; */
    margin-left: auto;
    background-color: white;
    border-radius: 20px;
    padding: 5px 36px;
    position: relative;
    box-shadow: 0 0 5px rgb(204, 204, 204);
}
.cr-desc > h4{
    font-family: 'Poppins', sans-serif;
    color: #0374BA;    
}
.cr-desc > p{
    color: #929292;
    margin-bottom: 15px;
}
.cr-desc > span{
    color: grey;
    font-weight: 200;
}

button.read-more{
    background-color: white;
    color: #0374BA;
    border: none;
    position: absolute;
    bottom: 30px;
    right: 30px;
}